<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>词云统计</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Global Tours Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-static/css -->
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-static/css -->
<!-- static/css -->
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
<!--// static/css -->
<!-- font-awesome icons -->
<link href="/static/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- gallery -->
<link rel="stylesheet" href="/static/css/lightbox.css">
<!-- //gallery -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Kaushan+Script&amp;subset=latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.static/js"></script>
<![endif]-->
</head>
<body>
<div class="banner-top">
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides callbacks callbacks1" id="slider4">
					<li>
						<div class="w3layouts-banner-top">
							<div class="container">
								<div class="agileits-banner-info">
									<h3>1</h3>
									<h4>肖申克的救赎</h4>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top w3layouts-banner-top1">
							<div class="container">
								<div class="agileits-banner-info1">
									<h3>2</h3>
									<h4>霸王别姬</h4>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top w3layouts-banner-top2">
							<div class="container">
								<div class="agileits-banner-info2">
									<h3>3</h3>
									<h4>阿甘正传</h4>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top w3layouts-banner-top3">
							<div class="container">
								<div class="agileits-banner-info3">
									<h3>4</h3>
									<h4>这个杀手不太冷</h4>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top w3layouts-banner-top4">
							<div class="container">
								<div class="agileits-banner-info4">
									<h3>5</h3>
									<h4>泰坦尼克号</h4>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<script src="/static/js/responsiveslides.min.js"></script>
			<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider4").responsiveSlides({
							auto: true,
							pager:true,
							nav:false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });
					
						});
			</script>
			<!--banner Slider starts Here-->
		</div>
	</div>
	<!-- banner -->
	<div class="banner">
        <div class="header">
			<div class="container">
				<div class="header-left">
					<div class="w3layouts-logo">
						<h1>
							<a href="index.html"> Top250<span>豆瓣电影分析</span></a>
						</h1>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="top-nav">
						<nav class="navbar navbar-default">
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a class="list-border scroll" href="/index">首页</a></li>
									<li><a href="/score" class="scroll">评分</a></li>
									<li><a href="/wordcloud" class="scroll">词云</a></li>
									<li><a href="/team" class="scroll">团队</a></li>
									<li><a href="/shuju" class="scroll">数据</a></li>
								</ul>
								<div class="clearfix"> </div>
							</div>
						</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->


	<!-- team -->
	<div class="team">
		<div class="w3-team-top">
			<h3>Word</h3>
		</div>
		<div class="w3l-about w3l-team">
			<div class="container">
				<div class="w3ls-heading">
					<h3>词频统计</h3>
				</div>
				<div class="agile-team-grids">
					<div class="col-sm-3 team-grid">
						<div class="flip-container">
							<div class="flipper">
								<div class="front">
									<img src="../static/images/word1.jpg" alt="" />
								</div>
								<div class="back">
									<h4>词频统计</h4>
									<p>根据250部电影的一句话描述，提炼出词云树，可以让我们更加清晰地了解到人们对经典电影的理解。 </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 team-grid">
						<div class="flip-container">
							<div class="flipper">
								<div class="front">
									<img src="../static/images/word2.jpg" alt="" />
								</div>
								<div class="back">
									<h4>词频统计</h4>
									<p>根据250部电影的一句话描述，提炼出词云树，可以让我们更加清晰地了解到人们对经典电影的理解。 </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 team-grid">
						<div class="flip-container">
							<div class="flipper">
								<div class="front">
									<img src="../static/images/word3.jpg" alt="" />
								</div>
								<div class="back">
									<h4>词频统计</h4>
									<p>根据250部电影的一句话描述，提炼出词云树，可以让我们更加清晰地了解到人们对经典电影的理解。 </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 team-grid">
						<div class="flip-container">
							<div class="flipper">
								<div class="front">
									<img src="../static/images/word4.jpg" alt="" />
								</div>
								<div class="back">
									 <h4>词频统计</h4>
                                    <p>根据250部电影的一句话描述，提炼出词云树，可以让我们更加清晰地了解到人们对经典电影的理解。 </p>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>

			</div>
		</div>
	</div>
	<!-- //team -->

	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="copyright">
				<p>© 2017 Global Tours . All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a> </p>
			</div>
		</div>
	</div>
	<!-- //footer -->

	<script src="/static/js/responsiveslides.min.static/js"></script>
	<script src="/static/js/SmoothScroll.min.static/js"></script>
	<script type="text/javascript" src="/static/js/move-top.static/js"></script>
	<script type="text/javascript" src="/static/js/easing.static/js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>	
</html>